<html lang="pt-br"><head>
    <title>planos - akame-api</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,700|Oswald:400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://preview.colorlib.com/theme/skater/A.fonts,,_icomoon,,_style.css+css,,_bootstrap.min.css+css,,_jquery.fancybox.min.css+css,,_owl.carousel.min.css+css,,_owl.theme.default.min.css+fonts,,_flaticon,,_font,,_flaticon.css+css,,_aos.css+css,,_style.css,Mcc.SDt9dsw_8I.css.pagespeed.cf.J2RMOuYue5.css">
    <script src="https://code.iconify.design/2/2.1.2/iconify.min.js"></script>
    <script type="text/javascript" async="" src="https://www.google-analytics.com/analytics.js" nonce="67a849c6-b179-479a-b3a1-35ed372eba22"></script><script defer="" src="/cdn-cgi/zaraz/s.js?z=JTdCJTIyZXhlY3V0ZWQlMjIlM0ElNUIlNUQlMkMlMjJ0cmFja3MlMjIlM0ElNUIlNUQlMkMlMjJ0JTIyJTNBJTIyU2thdGVyJTIwJUUyJTgwJTk0JTIwV2Vic2l0ZSUyMFRlbXBsYXRlJTIwYnklMjBDb2xvcmxpYiUyMiUyQyUyMnclMjIlM0ExMzY2JTJDJTIyaCUyMiUzQTc2OCUyQyUyMmolMjIlM0E1NjglMkMlMjJlJTIyJTNBMTM2NiUyQyUyMmwlMjIlM0ElMjJodHRwcyUzQSUyRiUyRnByZXZpZXcuY29sb3JsaWIuY29tJTJGdGhlbWUlMkZza2F0ZXIlMkYlMjIlMkMlMjJyJTIyJTNBJTIyaHR0cHMlM0ElMkYlMkZwcmV2aWV3LmNvbG9ybGliLmNvbSUyRiUyMiUyQyUyMmslMjIlM0EyNCUyQyUyMm4lMjIlM0ElMjJVVEYtOCUyMiUyQyUyMm8lMjIlM0ExODAlN0Q="></script><script nonce="67a849c6-b179-479a-b3a1-35ed372eba22">(function(w,d){!function(a,e,t,r,z){a.zarazData=a.zarazData||{},a.zarazData.executed=[],a.zarazData.tracks=[],a.zaraz={deferred:[]};var s=e.getElementsByTagName("title")[0];s&&(a.zarazData.t=e.getElementsByTagName("title")[0].text),a.zarazData.w=a.screen.width,a.zarazData.h=a.screen.height,a.zarazData.j=a.innerHeight,a.zarazData.e=a.innerWidth,a.zarazData.l=a.location.href,a.zarazData.r=e.referrer,a.zarazData.k=a.screen.colorDepth,a.zarazData.n=e.characterSet,a.zarazData.o=(new Date).getTimezoneOffset(),a.dataLayer=a.dataLayer||[],a.zaraz.track=(e,t)=>{for(key in a.zarazData.tracks.push(e),t)a.zarazData["z_"+key]=t[key]},a.zaraz._preSet=[],a.zaraz.set=(e,t,r)=>{a.zarazData["z_"+e]=t,a.zaraz._preSet.push([e,t,r])},a.dataLayer.push({"zaraz.start":(new Date).getTime()}),a.addEventListener("DOMContentLoaded",(()=>{var t=e.getElementsByTagName(r)[0],z=e.createElement(r);z.defer=!0,z.src="/cdn-cgi/zaraz/s.js?z="+btoa(encodeURIComponent(JSON.stringify(a.zarazData))),t.parentNode.insertBefore(z,t)}))}(w,d,0,"script");})(window,document);</script></head>
    <body data-spy="scroll" data-target=".site-navbar-target" data-offset="300" data-aos-easing="slide" data-aos-duration="800" data-aos-delay="0">
    <div id="overlayer" style="display: none;"></div>
    <div class="loader" style="display: none;">
    <div class="spinner-border text-primary" role="status">
    <span class="sr-only">Loading...</span>
    </div>
    </div>
    <div class="site-wrap" id="home-section">
    <div class="site-mobile-menu site-navbar-target">
    <div class="site-mobile-menu-header">
    <div class="site-mobile-menu-close mt-3">
    <span class="icon-close2 js-menu-toggle"></span>
    </div>
    </div>
    <div class="site-mobile-menu-body"><ul class="site-nav-wrap">
    <li><a href="#home-section" class="nav-link">Home</a></li>
    <li><a href="#services-section" class="nav-link">Services</a></li>
    <li class="has-children"><span class="arrow-collapse collapsed" data-toggle="collapse" data-target="#collapseItem0"></span>
    <a href="#about-section" class="nav-link">About</a>
    <ul class="collapse" id="collapseItem0">
    <li><a href="#team-section" class="nav-link">Team</a></li>
    <li><a href="#pricing-section" class="nav-link active">Pricing</a></li>
    <li><a href="#faq-section" class="nav-link">FAQ</a></li>
    <li class="has-children"><span class="arrow-collapse collapsed" data-toggle="collapse" data-target="#collapseItem1"></span>
    <a href="#">More Links</a>
    <ul class="collapse" id="collapseItem1">
    <li><a href="#">Menu One</a></li>
    <li><a href="#">Menu Two</a></li>
    <li><a href="#">Menu Three</a></li>
    </ul>
    </li>
    </ul>
    </li>
    <li><a href="#testimonials-section" class="nav-link">Testimonials</a></li>
    <li><a href="#blog-section" class="nav-link">Blog</a></li>
    <li><a href="#contact-section" class="nav-link">Contact</a></li>
    </ul></div>
    </div>
    
    <div class="owl-carousel slide-one-item owl-loaded owl-drag">
    
    
    <div class="owl-stage-outer"></div><div class="owl-nav"><div class="owl-prev"><span class="icon-keyboard_arrow_left"></span></div><div class="owl-next"><span class="icon-keyboard_arrow_right"></span></div></div><div class="owl-dots"><div class="owl-dot active"><span></span></div><div class="owl-dot"><span></span></div></div></div>
    
    
    
    
    </div>
    <section class="site-section" id="pricing-section">
    <div class="container">
    <div class="row mb-5 justify-content-center text-center">
    <div class="col-md-7">
    <div class="block-heading-1 aos-init aos-animate" data-aos="fade-up" data-aos-delay="">
    <h2>COMPRAR O SITE</h2>
    <p>Um site avançado que contém várias apis, sistema de limit, na apikey, aba de administração e muito mais!!</p>
    </div>
    </div>
    </div>
    <div class="col-md-6 mb-4 mb-lg-0 col-lg-4 aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
    <div class="pricing">
    <h3 class="text-center text-white">Api - Rest</h3>
    <div class="price text-center mb-4 ">
    <span><span>55 R$</span> / via pix</span>
    </div>
    <ul class="list-unstyled ul-check success mb-5">
    <li><span class="iconify" data-icon="ic:baseline-verified" style="color: lime;"></span>
          Contém mais de 30 apis</li>
    <li><span class="iconify" data-icon="ic:baseline-verified" style="color: lime;"></span>
          Sistema de limit</li>
    <li><span class="iconify" data-icon="ic:baseline-verified" style="color: lime;"></span> 
          Sistem de request limitada</li>
    <li><span class="iconify" data-icon="ic:baseline-verified" style="color: lime;"></span>
        Scrapers Funcionando</li>
    <li><span class="iconify" data-icon="ic:baseline-verified" style="color: lime;"></span>
        Suporte</li>
    <li><span class="iconify" data-icon="ic:baseline-verified" style="color: lime;"></span>
        Código organizado e simples</li>        
    <li><span class="iconify" data-icon="ic:baseline-verified" style="color: lime;"></span>
        Fácil de codar</li>                
    <li><span class="iconify" data-icon="ic:baseline-verified" style="color: lime;"></span>
        Sistema de Administração</li>                        
    </ul>
    <p class="text-center">
    <a href="https://api.whatsapp.com/send?phone=5562936180708&text=Ola! Desejo Comprar Seu site!!" class="btn btn-primary btn-md text-white">Comprar</a>
    </p>
    <p class="text-center">
    <a href="/docs" class="btn btn-secondary btn-md">Demonstração</a>
    </p>
    </div>
    </div>
    </div>
    
    
    </div>
    </section>
    
    
    <div class="site-section" id="contact-section">
    <div class="container">
    <div class="row">
    <div class="col-12 text-center mb-5 aos-init" data-aos="fade-up" data-aos-delay="">
    <div class="block-heading-1">
    <span>Copyright © 2022 - Breno</span>
    <h2>akame-api</h2>
    </div>
    </div>
    </div>
    
    </div>
    </div>
    
    
    <script src="https://preview.colorlib.com/theme/skater/js/jquery-3.3.1.min.js"></script>
    <script src="https://preview.colorlib.com/theme/skater/js/popper.min.js+bootstrap.min.js.pagespeed.jc.n3apcpGFM7.js"></script><script>eval(mod_pagespeed_NYdf7STs2K);</script>
    <script>eval(mod_pagespeed_dQ9_L3JC$g);</script>
    <script src="https://preview.colorlib.com/theme/skater/js/owl.carousel.min.js+jquery.sticky.js+jquery.waypoints.min.js+jquery.animateNumber.min.js.pagespeed.jc.iyYsE_y-vh.js"></script><script>eval(mod_pagespeed__l9ujNUQ8C);</script>
    <script>eval(mod_pagespeed_Tfv85fqylh);</script>
    <script>eval(mod_pagespeed_3Aa_656viP);</script>
    <script>eval(mod_pagespeed_VVwZ_1KHDF);</script>
    <script src="https://preview.colorlib.com/theme/skater/js/jquery.fancybox.min.js+jquery.easing.1.3.js+aos.js.pagespeed.jc.KRWwAzmS71.js"></script><script>eval(mod_pagespeed_hSbHVrfg_Q);</script>
    <script>eval(mod_pagespeed_jsE007eTC1);</script>
    <script>eval(mod_pagespeed_NSKn84ObVd);</script>
    <script src="https://preview.colorlib.com/theme/skater/js/main.js"></script>
    
    <script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
    
        gtag('config', 'UA-23581568-13');
      </script>
    <script defer="" src="https://static.cloudflareinsights.com/beacon.min.js/v652eace1692a40cfa3763df669d7439c1639079717194" integrity="sha512-Gi7xpJR8tSkrpF7aordPZQlW2DLtzUlZcumS8dMQjwDHEnw9I7ZLyiOj/6tZStRBGtGgN6ceN6cMH8z7etPGlw==" data-cf-beacon="{&quot;rayId&quot;:&quot;6dfb43f2eb8deede&quot;,&quot;token&quot;:&quot;cd0b4b3a733644fc843ef0b185f98241&quot;,&quot;version&quot;:&quot;2021.12.0&quot;,&quot;si&quot;:100}" crossorigin="anonymous"></script>
    
    </body></html>